.complete-true{
  margin: 1%;
}
.complete-false{
  margin: 1%;
}
.assignedTo {
  float: right;
}

.difficulty {
  position: absolute;
  top: 80%;
  left: 80%;
}

.buttonContainer {
  display: flex;
  width: 5%;
}

.formToEdit {
  text-align: center;
  position: absolute;
  left: 70%;
  width: 10%;
}
